@keyframes flickerEffect {
  78% { opacity: 1 }
  79% { opacity: 0 }
  81% { opacity: 1 }
  82% { opacity: 0 }
  83% { opacity: 1 }
  92% { opacity: 0 }
  92.5% { opacity: 1}
}

.flicker {
  animation: flickerEffect 2s infinite;
}


.header {
  @include flex_center;
  width: $header-width;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  background: $bg_dark;
  z-index: 1000;

  &_text {
    display: inline-block;
    padding: 2rem;

    writing-mode: horizontal-tb;
    text-orientation: upright;

    font-family: 'TiltNeon-Regular', sans-serif;
    font-size: clamp(2.5rem, 3vw, 4rem);
    color: black;


    &_center {
      @include letter_neon-effect($tertiary-color)
    }

    &_left {
      color: $primary-color;
      @include letter_neon-effect($primary-color)
    }

    &_right {
      color: $secondary-color;
      @include letter_neon-effect($secondary-color)
    }
  }
}

@media screen and (max-width: 768px) {
  
  .header {
    @include flex_center;
    width: 100vw;
    height: 100vh;
    position:relative;
  }

  .scroll-down-arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -15px; // Offset by half of its width to center it
    clip-path: polygon(50% 100%, 0 0, 100% 0); // Arrow shape
    animation: bounce 1.5s ease-in-out infinite;
    background: $primary-color;
    box-shadow:
    0 0 10px $primary-color,
    0 0 20px $primary-color,
    0 0 30px $primary-color,
    0 0 40px $primary-color,
    0 0 50px $primary-color,
    0 0 60px $primary-color,
    0 0 70px $primary-color;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-17px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
}


