
.main {
  &_wrapper {
    @include flex_center_row;
    height: 100vh;
    width:fit-content;
    transform: translateX($header-width); 
    background-image: url("/assets/img/custom_neon_pattern.svg");
    background-repeat: repeat;
    white-space: nowrap;
  }
}


@keyframes background-keys {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@media screen and (max-width: 768px) {
  .main {
    &_wrapper {
      @include flex_center_column;
      width: 100vw;
      height: auto;
      transform: translateX(0);
      animation: background-keys 20s infinite linear;
    }
  }
}