
/* ================================== Header Neon ==================================*/
@font-face {
  font-family: 'TiltNeon-Regular';
  src: url('/assets/fonts/TiltNeon-Regular.ttf') format('truetype');
  font-weight: normal;
}


/* ================================== LS_ohMyFood ==================================*/
@font-face {
  font-family: 'Shrikhand';
  src: url('/assets/fonts/Shrikhand-Regular.ttf') format('truetype');
  font-weight: normal;
}

/* ================================== HrNet==================================*/
@font-face {
  font-family: 'Tektur_bold';
  src: url('/assets/fonts/Tektur-Bold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}




/* ================================== Not use ==================================*/
@font-face {
  font-family: 'Bangers';
  src: url('/assets/fonts/Bangers-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Coda';
  src: url('/assets/fonts/Coda-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'MadimiOne';
  src: url('/assets/fonts/MadimiOne-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'RubikMonoOne';
  src: url('/assets/fonts/RubikMonoOne-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Codystar-Regular';
  src: url('/assets/fonts/Codystar-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Corinthia-Regular';
  src: url('/assets/fonts/Corinthia-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Kavivanar-Regular';
  src: url('/assets/fonts/Kavivanar-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'SquarePeg-Regular';
  src: url('/assets/fonts/SquarePeg-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'GreatVibes-Regular';
  src: url('/assets/fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'AlexBrush-Regular';
  src: url('/assets/fonts/AlexBrush-Regular.ttf') format('truetype');
  font-weight: normal;
}