
/* ================================== Header Neon ==================================*/
@font-face {
  font-family: 'TiltNeon-Regular';
  src: url('/assets/fonts/TiltNeon-Regular.ttf') format('truetype');
  font-weight: normal;
}

/* ================================== Card ==================================*/
@font-face {
  font-family: 'AlexBrush-Regular';
  src: url('/assets/fonts/AlexBrush-Regular.ttf') format('truetype');
  font-weight: normal;
}

/* ================================== LS_ohMyFood ==================================*/
@font-face {
  font-family: 'Shrikhand';
  src: url('/assets/fonts/Shrikhand-Regular.ttf') format('truetype');
  font-weight: normal;
}

/* ================================== HrNet==================================*/
@font-face {
  font-family: 'Tektur_bold';
  src: url('/assets/fonts/Tektur-Bold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}
